html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img, h5 {
  display: inline-block;
}

h3 {
  margin: 0px;
}

header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

ng-map {
  margin-top: 60px;
}

#logo {
  background-image: url('../images/moon.png');
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
  display: inline-block;
  float: left;
  line-height: 60px;
}

#logo-written h3 {
  display: inline;
}

#nav-menu {
  float: right;
  height: 60px;
}

#nav-menu ul {
  list-style: none;
  margin: 0px;
}

#nav-menu ul li {
  display: inline-block;
  margin: 0px;
  padding: 0px 20px;
}

#nav-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: large;
}

#nav-menu ul li a:hover {
  color: #999;
}

#menu-icon {
  background-image: url('../images/menu.png');
  height: 41px;
  width: 48px;
  display: none;
}

#headline-singles {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: #097054;
  color: #fff;
  margin-bottom: 20px;
}

#headline-couples {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: #6599FF;
  color: #fff;
  margin-bottom: 20px;
}

#myhome {
  background-image: url('../images/bg.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerhome {
  min-height: 200px;
  width: 100%;
  background-color: rgba(255,255,255,.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

#about {
  font-size: x-large;
}

#about-image {
  background-image: url('../images/bg-bar.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  /*margin-bottom: 50px;*/
}
#about-headline {
  width: 100%;
  background-color: #CC6600;
  padding: 20px 0px;
  color: #fff;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding {
  padding: 10px;
  box-sizing: border-box;
}

.index {
  text-align: center;
  font-size: x-large;
}

.getPlans {
  padding-top: 20px;
  padding-bottom: 20px;
}

.billboard {
  margin-top: 60px;
}

.deleteSection {
  text-align: right;
}

.deleteButton {
  background-color: red;
  color: #fff;
}

.head {
  padding: 20px 0px;
  width: 100%;
  background-color: #6599FF;
  margin-top: 60px;
  color: #fff;
}

.signup {
  margin-top: 60px;
}

@media only screen and (max-width: 720px){
  #menu-icon {
    display: inline-block;
  }
  #menu {
    display: none;
  }
  #nav-menu ul, #nav-menu:active ul {
		display: none;
    position: absolute;
		padding: 20px;
		background: #fff;
		border: 1px solid #444;
		right: 20px;
		top: 40px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	#nav-menu li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	#nav-menu:hover ul {
		display: block;
	}

	#innerhome {
    width: 90%;
    margin: 0px auto;
    margin-top: 70px;
}
